body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f2f2f2;
font-family:Arial;
}

.calculator{
width:260px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.display{
background:#222;
color:white;
padding:10px;
margin-bottom:15px;
border-radius:5px;
}

#input{
font-size:18px;
text-align:right;
color:#aaa;
}

#output{
font-size:28px;
text-align:right;
color:#00ff9d;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
padding:15px;
font-size:18px;
border:none;
background:#eee;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#ddd;
}